<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Summary</th>
      <th>Started</th>
      <th>Completed</th>
      <th>Type</th>
      <th>Size</th>
      <th>Project</th>
      <th>Cycle Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.key %></td>
        <td><%= issue.summary %></td>
        <td><%= issue.started %></td>
        <td><%= issue.completed %></td>
        <td><%= issue.issue_type %></td>
        <td><%= issue.size %></td>
        <td><%= issue.project_id %></td>
        <td>
          <% unless issue.completed.nil? or issue.started.nil? %>
              <%= distance_of_time_in_words(issue.started, issue.completed) %>
          <% end %>
        </td>
        <td><%= link_to 'Show', issue %></td>
      </tr>
    <% end %>
  </tbody>
</table>

