<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @issue.key %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @issue.summary %>
</p>

<p>
  <strong>Dashboard:</strong>
  <%= @issue.dashboard_id %>
</p>

<%= link_to 'Back', dashboard_issues_path(dashboard) %>
