<%= form_for(@domain) do |f| %>
    <% if @domain.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

          <ul>
            <% @domain.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <label>
      Name
      <%= f.text_field :name, :placeholder => "a name for your JIRA instance" %>
    </label>
    <label>
      Domain
      <%= f.text_field :domain, :placeholder => "address of your JIRA instance, e.g. https://jira.example.com" %>
    </label>
    <div class="actions">
      <%= f.submit :class => 'radius button' %>
    </div>
<% end %>
