<script type="application/javascript">
    $(function() {
        $("form").on("ajax:success", function() {
           window.location = '<%= project_issues_path(@project) %>';
        });
    });
</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @project.domain %>
</p>

<p>
  <strong>Board:</strong>
  <%= @project.board_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<%= form_tag(sync_project_path(@project), method: "post", remote: true) do %>
    <p>
      <%= label_tag(:username, "Username:") %>
      <input value="jbrunton" type="text" name="username" id="username">

      <%= label_tag(:password, "Password:") %>
      <input type="text" name="password" id="password">

      <%= submit_tag("Sync") %>
    </p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
