<% breadcrumb :dashboards, @domain %>

<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <h1>Listing Dashboards</h1>

    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Board</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @dashboards.each do |dashboard| %>
            <tr>
              <td><%= dashboard.domain.domain %></td>
              <td><%= dashboard.board_id %></td>
              <td><%= dashboard.name %></td>
              <td><%= link_to 'Show', dashboard %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

