<% breadcrumb :dashboard, @dashboard %>

<script type="application/javascript">
    var dispatcher = new WebSocketRails('localhost:3000/websocket');
    var channel = dispatcher.subscribe('dashboard:<%= @dashboard.id %>');
    channel.bind('update', function(data) {
        $('#progress-bar').css('width', data.progress + '%');
        if (data.progress >= 100) {
            location.reload();
        }
    });

    $(function() {
        $("form").on("ajax:success", function() {
            $('#progress-bar-container').show();
            $('#progress-bar').css('width', '1%');
        });
    });
</script>

<div class="row">
  <div class="large-12 columns">
    <div id="progress-bar-container" class="progress round hide">
      <span id="progress-bar" class="meter" style="width: 0%"></span>
    </div>

    <h3><%= @dashboard.name %></h5>
  </div>

  <div class="large-8 columns">
    <p>
      <strong>Domain:</strong>
      <%= @dashboard.domain %>
    </p>

    <p>
      <strong>Board:</strong>
      <%= @dashboard.board_id %>
    </p>

    <% if @dashboard.last_synced %>
        <p>
          <strong>Last synced:</strong>
          <%= format_datetime(@dashboard.last_synced) %>
        </p>
        <p>
          <%= link_to('Reports', dashboard_reports_path(@dashboard), class: 'radius button') %>
        </p>
    <% else %>
        <p>Sync this dashboard to view reports.</p>
    <% end %>
  </div>

  <div class="large-4 columns">
    <div class="panel radius">
      <h5>Sync Issues</h5>
      <%= form_tag(sync_dashboard_path(@dashboard), method: "post", remote: true) do %>
          <p>
            <%= label_tag(:username, "Username:") %>
            <input value="jbrunton" type="text" name="username" id="username">

            <%= label_tag(:password, "Password:") %>
            <input type="text" name="password" id="password">

            <%= submit_tag("Sync", class: 'button') %>
          </p>
      <% end %>
    </div>
  </div>
</div>