<div class="row">

  <div class="large-4 columns">
    <h3>Backlog</h3>

    <table style="width: 100%">
      <tr class="panel callout">
        <th>In Progress</th>
      </tr>
      <% @in_progress.each do |epic| %>
          <tr>
            <td><%= epic.summary %></td>
          </tr>
      <% end %>
    </table>

    <table style="width: 100%">
      <tr class="panel callout">
        <th>Upcoming</th>
      </tr>
      <% @upcoming.each do |epic| %>
          <tr>
            <td><%= epic.summary %></td>
          </tr>
      <% end %>
    </table>

  </div>
  <div class="large-8 columns">

    <h3>Forecast</h3>

    <div class="panel">
      <%= form_tag do %>
          <div class="row">
            <div class="large-5 columns">
              <label>Start date
                <input type="text" name="start_date" id="start_date" value="<%= @start_date ? @start_date.to_s : nil %>"/>
              </label>
            </div>
            <div class="large-7 columns">
              <label>Filter
                <input type="text" name="filter" id="filter" value="<%= params[:filter] ? params[:filter] : nil %>"/>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-2 columns">
              <%= submit_tag 'Forecast', :class => 'button' %>
            </div>
          </div>
      <% end %>
    </div>

    <% if @forecasts %>
        <table style="width: 100%">
          <tr>
            <th width="30%">Likelihood</th>
            <th width="30%">Time</th>
            <th width="40%">Date</th>
          </tr>
        </table>
        <% @forecasts.each do |record| %>
            <table style="width: 100%">
              <tr class="panel callout">
                <th colspan="4"><%= record[:epic].summary %></th>
              </tr>

              <tr>
                <% record[:forecast].each do |interval| %>
                  <tr>
                    <td width="30%"><%= "#{interval[:likelihood]} %" %></td>
                    <td width="30%"><%= "#{sprintf('%.1f', interval[:actual_time])} days" %></td>
                    <td width="40%"><%= format_datetime(@start_date + interval[:actual_time].days) %></td>
                  </tr>
              <% end %>

              </tr>
            </table>

        <% end %>

    <% end %>
  </div>
</div>