<% breadcrumb :forecast_report, @dashboard %>

<script>
  var partitions = {
      Story: <%= @dashboard.size_partitions_for('Story').to_json.html_safe %>,
      Epic: <%= @dashboard.size_partitions_for('Epic').to_json.html_safe %>
  };

  function updateBacklog(backlog) {
      $('#backlog').empty();
      $('#backlog').append(HandlebarsTemplates.backlog({
          title: 'In Progress',
          issues: backlog.in_progress
      }));
      $('#backlog').append(HandlebarsTemplates.backlog({
          title: 'Upcoming',
          issues: backlog.upcoming
      }));
      filterChanged();
  }

  function updatePartitions(issueType) {
      function appendPartition(size) {
          var context = {
              size: size,
              value: <%= (params[:sizes] || {}).to_json.html_safe %>[size]
          };
          $('#partitions').append(HandlebarsTemplates['partition_option'](context));
      }
      $('#partitions').empty();
      partitions[issueType].forEach(function(size) {
          appendPartition(size);
      });
      appendPartition('?');
  }

  function issueTypeChanged() {
      var issueType = $('#issue_type').val();
      updatePartitions(issueType);
      $('[name=issue_type]').val(issueType);
      $.when(
              $.get('<%= dashboard_path(@dashboard) %>/data/backlog.json?issue_type=' + issueType)
      ).done(updateBacklog);
  }

  function filterChanged() {
      var issueType = $('#issue_type').val();
      var filter = $('.content.active .filter').val();
      $.when(
              $.get('<%= dashboard_path(@dashboard) %>/data/valid_sizes.json?issue_type=' + issueType + '&filter=' + filter)
      ).done(enableSizes);
  }

  function enableSizes(sizes) {
      $('#partitions input').prop('disabled', true);
      sizes.forEach(function(size) {
          $('#partitions input[name="sizes[' + size +  ']"').prop('disabled', false);
      });
      $('#partitions input[name="sizes[?]"]').prop('disabled', false);
  }

  $(function() {
      $('#issue_type').change(issueTypeChanged);
      $('#issue_type').val('<%= params[:issue_type] || 'Epic' %>');
      $('input.filter').change(filterChanged);
      issueTypeChanged();
  });
</script>

<div class="row">

  <div class="large-4 columns">
    <select id="issue_type">
      <option value="Epic">Epic</option>
      <option value="Story">Story</option>
    </select>

    <h3>Backlog</h3>

    <div id="backlog">

    </div>

  </div>
  <div class="large-8 columns">

    <h3>Forecast</h3>

    <ul class="tabs" data-tab>
      <li class="tab-title <%= params[:forecast_type] == 'backlog' ? 'active' : '' %>"><a href="#tab-backlog">Backlog</a></li>
      <li class="tab-title <%= params[:forecast_type] == 'lead_times' ? 'active' : '' %>"><a href="#tab-lead-times">Lead Times</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content <%= params[:forecast_type] == 'backlog' ? 'active' : '' %>" id="tab-backlog">
        <div class="panel">
          <%= form_tag do %>
              <%= render 'reports/forecast_options' %>
              <div class="row">
                <div class="large-2 columns">
                  <input type="hidden" name="forecast_type" value="backlog"/>
                  <input type="hidden" name="issue_type" value="Story"/>
                  <%= submit_tag 'Forecast', :class => 'button' %>
                </div>
              </div>
          <% end %>
        </div>

        <% if @forecasts %>
            <table style="width: 100%">
              <tr>
                <th width="30%">Likelihood</th>
                <th width="30%">Time</th>
                <th width="40%">Date</th>
              </tr>
            </table>
            <% @forecasts.each do |record| %>
                <table style="width: 100%">
                  <tr class="panel callout">
                    <th colspan="4"><%= record[:issue].summary %></th>
                  </tr>

                  <tr>
                    <% record[:forecast].each do |confidence_level| %>
                      <tr>
                        <td width="30%"><%= "#{confidence_level[:likelihood]} %" %></td>
                        <td width="30%"><%= "#{sprintf('%.1f', confidence_level[:actual_time])} days" %></td>
                        <td width="40%"><%= format_date(@start_date + confidence_level[:actual_time].days) %></td>
                      </tr>
                  <% end %>

                  </tr>
                </table>
            <% end %>
        <% end %>
      </div>
      <div class="content <%= params[:forecast_type] == 'lead_times' ? 'active' : '' %>" id="tab-lead-times">
        <div class="panel">
          <%= form_tag do %>
              <%= render 'reports/forecast_options' %>
              <div class="row" id="partitions">
              </div>
              <div class="row">
                <div class="large-2 columns">
                  <input type="hidden" name="forecast_type" value="lead_times"/>
                  <input type="hidden" name="issue_type" value="Story"/>
                  <%= submit_tag 'Forecast', :class => 'button' %>
                </div>
              </div>
          <% end %>
        </div>

        <% if @lead_times %>
            <table style="width: 100%">
              <tr>
                <th width="25%">Likelihood</th>
                <th width="25%">50%</th>
                <th width="25%">80%</th>
                <th width="25%">90%</th>
              </tr>
              <tr>
                <th>Lead Time</th>
                <% @lead_times.each do |interval| %>
                    <td><%= "#{sprintf('%.1f', interval[:actual_time])} days" %></td>
                <% end %>
              </tr>
              <% if @start_date %>
              <tr>
                <th>Date</th>
                <% @lead_times.each do |interval| %>
                    <td><%= format_date(interval[:expected_date]) %></td>
                <% end %>
              </tr>
              <% end %>
            </table>
        <% end %>
      </div>
    </div>
  </div>
</div>