<div class="row">
  <div class="large-12 columns">

    <h1>Forecast</h1>

  </div>
</div>
<div class="row">

  <div class="large-4 columns">

    <%= form_tag do  %>
        <div class="row">
          <div class="large-3 columns">
            <label>Small
              <input name='small_count' type="text" value="<%= params[:small_count] ? params[:small_count] : nil %>" />
            </label>
          </div>
          <div class="large-3 columns">
            <label>Medium
              <input name='medium_count' type="text" value="<%= params[:medium_count] ? params[:medium_count] : nil %>" />
            </label>
          </div>
          <div class="large-3 columns">
            <label>Large
              <input name='large_count' type="text" value="<%= params[:large_count] ? params[:large_count] : nil %>" />
            </label>
          </div>
          <div class="large-3 columns">
            <label>Unsized
              <input name='unsized_count' type="text" value="<%= params[:unsized_count] ? params[:unsized_count] : nil %>" />
            </label>
          </div>
        </div>

        <div class="row">
          <div class="larger-12 columns">
            <label>Start date
              <input type="text" name="start_date" id="start_date" value="<%= @start_date ? @start_date.to_s : nil %>" />
            </label>
          </div>
        </div>

        <div class="row">
          <div class="larger-12 columns">
            <label>Filter
              <input type="text" name="filter" id="filter" value="<%= params[:filter] ? params[:filter] : nil %>" />
            </label>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= submit_tag 'Forecast' %>
          </div>
        </div>
    <% end %>

    <h4>Backlog</h4>
    <% @backlog.each do |epic| %>
        <div class="panel"><%= epic.summary %></div>
    <% end %>

  </div>
  <div class="large-8 columns">

      <% if @forecast %>
          <table style="width: 100%">
            <tr>
              <th>Likelihood</th>
              <th>Time</th>
            </tr>
            <% @forecast.each do |forecast| %>
                <tr>
                  <td><%= "#{forecast[:likelihood]} %" %></td>
                  <td><%= "#{sprintf('%.1f', forecast[:actual_time])} days" %></td>
                  <td><%= format_datetime(@start_date + forecast[:actual_time].days) %></td>
                </tr>
            <% end %>
          </table>
      <% end %>
  </div>
</div>