<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= content_for?(:title) ? yield(:title) : "agileplanning.io | Forecasting" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">agileplanning.io | Forecasting</a></h1>
          </li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= breadcrumbs style: :ul %>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
